<html>
<head>
  <meta charset="UTF-8">
  <title>SlackStatus</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="view">
    <section v-if="isSlackRegistered">
      <h1>ステータスの更新</h1>
      <select name="status" id="status" v-model="changedStatus">
        <option v-repeat="status in statuses" value="{{ status.emoji + ' ' +status.message }}">{{ status.message }}</option>
      </select>
      <button v-on="click: onStatusChange(changedStatus)">更新</button>
    </section>

    <section>
      <h1>投稿先の設定</h1>
      <article v-if="!isSettingOpen" class="mb-20">
        <label for="slackurl">
          <h2>Slackの投稿先URL</h2>
          <input type="text" placeholder="Slackの投稿先URL" v-model="slackurl">
        </label>
        <label for="slacktoken">
          <h2>Slackのチャンネルトークン</h2>
          <input type="text" placeholder="Slackのチャンネルトークン" v-model="slacktoken">
        </label>
        <label for="slackid">
          <h2>SlackのユーザーID</h2>
          <input type="text" placeholder="SlackのユーザーID" v-model="slackid">
        </label>
        <button v-on="click: onSlackChange">更新</button>
      </article>
      <article v-if="isSlackRegistered && !isSettingOpen">
        <h1>投稿するステータスの追加</h1>
          <label for="newStatus[emoji]">
            <h2>投稿する絵文字</h2>
            <input type="text" v-model="newStatus.emoji" placeholder=":rice:">
          </label>
          <label for="newStatus[message]">
            <h2>投稿する文言</h2>
            <input type="text" v-model="newStatus.message" placeholder="食事中です">
          </label>
        <button v-on="click: onStatusAdd">更新</button>
      </article>
      <article class="mt-10">
        <button class="small" v-if="isSettingOpen" v-on="click: onToggleSetting">設定を開く</button>
        <button class="small" v-if="!isSettingOpen" v-on="click: onToggleSetting">設定を閉じる</button>
      </article>
    </section>
  </div>
  <script src="./index.js"></script>
</body>
</html>
