<html>
<head>
  <meta charset="UTF-8">
  <title>SlackStatus</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="view">
    <count-num stores="{{ stores }}"></count-num>
    <post-status v-if="isSlackRegistered"></post-status>

    <section>
      <h1>投稿先の設定</h1>

      <set-config v-if="!isSettingOpen"></set-config>
      <add-status v-if="isSlackRegistered && !isSettingOpen"></add-status>

      <article class="mt-10">
        <button class="small" v-if="isSettingOpen" v-on="click: onToggleSetting">設定を開く</button>
        <button class="small" v-if="!isSettingOpen" v-on="click: onToggleSetting">設定を閉じる</button>
      </article>
    </section>
  </div>
  <script src="./index.js"></script>
</body>
</html>
