<html>
<head>
  <meta charset="UTF-8">
  <title>SlackStatus</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="view">
    <section v-if="isSlackRegistered">
      <h1>ステータスの更新</h1>
      <select name="status" id="status" v-model="changedStatus" options="statuses">
        <option v-repeat="status in statuses" value="{{ status.emoji + ' ' +status.message }}">{{ status.message }}</option>
      </select>
      <button v-on="click: onStatusChange(changedStatus)">更新</button>
    </section>

    <section>
      <h1>投稿先の設定</h1>

      <set-config v-if="!isSettingOpen"></set-config>
      <add-status v-if="isSlackRegistered && !isSettingOpen"></add-status>

      <article class="mt-10">
        <button class="small" v-if="isSettingOpen" v-on="click: onToggleSetting">設定を開く</button>
        <button class="small" v-if="!isSettingOpen" v-on="click: onToggleSetting">設定を閉じる</button>
      </article>
    </section>
  </div>
  <script src="./index.js"></script>
</body>
</html>
