body {
  font-family: Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 4px;
}

section {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 8px 10px 6px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  line-height: 1;
}

select {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 4px 24px;
  border: none;
  border-radius: 3px;
  background-color: #0cc;
  color: #fff;
  font-size: 12px;
}

button:hover {
  cursor: pointer;
  background-color: #0aa;
}

button.small {
  padding: 2px 12px;
  font-size: 10px;
  background-color: #aaa;
}

button.small:hover {
  background-color: #888;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li, ol li {
  display: inline-block;
  list-style-type: none;
  padding: 4px 24px;
  border: 1px solid #0cc;
  border-radius: 3px;
  background-color: #fff;
  color: #0cc;
  font-size: 12px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.registerd-account {
  display: flex;
  align-items: center;
}

.registerd-account__img {
  margin-right: 5px;
}
