<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>Slackアカウントの認証</title>
</head>
<body>
  <h1>Slackアカウントの認証</h1>
  <div id="view">
    <section v-if="!isAuthenticate">
      <h2>認証するアカウントを選択して下さい</h2>
      <ul>
        <li v-repeat="user in users" v-on="click: selectUser(user.id)">{{ user.name }}</li>
      </ul>
    </section>
    <section v-if="isAuthenticate">
      アカウントの認証が完了しました。<br>
      メニューバーに表示されているこのアプリケーションのアイコンをクリックして下さい。
    </section>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js"></script>
  <script src="/client.js"></script>
</body>
</html>
